*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height  : 100%;
    color: white;
}
.block{
    width: 80%;
    border-radius: 15px;
    padding: 33px;
    margin: 10px auto;
    box-shadow: 0px 8px 16px black;
    background: linear-gradient(rgb(32, 20, 55), rgb(56, 47, 118));
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start
}
.block .myCarousel{
    max-width: 800px;
}
.block .infoblock{
    padding: 0 25px;
    text-align: center; 
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
.infoblock h1{
    text-align: center;
}
.btnm {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
.btnm {
    height: 50px;
    display: block;
    width: 200px;
    text-align: center;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 13px!important;
    border: 2px solid white;
    color: #FFF;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    letter-spacing: 1px;
}
.btnm {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1150ms cubic-bezier(0.19, 1, 0.22, 1);
} 
 .btnm:hover {
    border: 2px solid white;
    color: #FFF;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}
.infoblock>div{
    display: flex;
    justify-content:  space-evenly;

}
@media screen and (max-width:1400px) {
    .block{
        grid-template-columns: 1fr;
    }
}