*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height  : 100%;
    color: white;
}
.banner{
  min-height: 100hv;
  height: auto;
}
.userInfo{
    width: 80%;
    padding: 23px;
    margin: 10px auto;
    box-shadow: 0px 8px 16px black;
    background: linear-gradient(rgb(32, 20, 55), rgb(56, 47, 118));
    color: white;
    border-radius: 24px;
    position: relative;
    margin-bottom: 40px;

}
.tasksBlock h2{
    margin: 15px 0;
}
.userInfo h1{
    text-align: center;
}
.userInfo input{
    margin: 15px 20px;
    height: 35px;
    padding: 0 7px;
    border-radius: 10px;
    outline:none;
    border: none;
}
.userInfo .miniblock{
    padding: 40px;
    font-family: 'Poppins';font-size: 19px;
    display: flex;
    justify-content: space-between;
}
.userInfo .btn {
    grid-column: span 2;
    height: 40px;
    display: block;
    width: 250px;
    text-align: center;
    padding: 10px 0;
    margin: 5px auto;
    border-radius: 25px;
    font-weight: bold;
    font-size: 13px!important;
    border: 2px solid rgb(5, 5, 5);
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    letter-spacing: 1px;
    color: white;

}
.userInfo  .btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1150ms cubic-bezier(0.19, 1, 0.22, 1); 
  } 
  .userInfo .btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }
.tasksBlock{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tasksBlock h2{
    text-align: center;
}
a{
    text-decoration: none;
}
.tasks{
    border-radius: 5px;
    /* max-height: 800px; */
    overflow: hidden;
    width: 90%;
    padding: 7px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 35px black;
}
.task{
    min-height: 70px;
    border: 1px solid black;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
    background-position: center;
    cursor: pointer;
    background-size: cover;
    background-size: 110%;
    transition: 0.7s ease-in-out;
    background-repeat: no-repeat;
}
.task:hover{
    background-size: 150%;
}
.flextask{
    display: flex;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid rgb(47, 6, 104);
    box-shadow: 0 0 5px rgb(47, 6, 104);
    border-radius: 10px;
    height: 500%;
    align-items: center;
}

.toggle-pill{
    transform: translateY(35%);
    margin: 0 auto;
}
.toggle-pill input[type="checkbox"] {
    display: none;
  }
  .toggle-pill input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;

    border-radius: 1em;
    background: #f3f3f3;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
  }
  .toggle-pill input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #505a51;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .toggle-pill input[type="checkbox"]:checked + label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
  }

@media screen and (max-width:1400px) {
    .tasksBlock{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:900px) {
  .miniblock{
      display: flex;
      flex-direction: column;
  }
  .mb{
    margin: 0 auto 15px;
  }
  .innerminibl{
    justify-content: none;
  }
}
._checkbox {
    display: none;
  }
  
  label {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #f72414;
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color,
      0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    border: 2px solid rgba(0, 0, 0, 0.44);
  }
  
  label:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
  }
  
  label:hover:before {
    width: 55px;
    height: 55px;
    box-shadow: inset 0 7px 10px #ff9d96;
  }
  
  label:active {
    transform: translateY(-5%) scale(0.9);
  }
  .flextask .tag{
    margin-right: 20px;
  }
  .tick_mark {
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-left: 7px;
    transform: rotateZ(-40deg);
  }
  
  .tick_mark:before,
  .tick_mark:after {
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
  }
  
  .tick_mark:before {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 15px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.23);
    transform: translateY(-34px);
  }
  
  .tick_mark:after {
    left: 0;
    bottom: 0;
    width: 80%;
    height: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.23);
    transform: translateX(78px);
  }
  
  ._checkbox:checked + label {
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
  }
  
  ._checkbox:checked + label:before {
    width: 0;
    height: 0;
  }
  
  ._checkbox:checked + label .tick_mark:before,
  ._checkbox:checked + label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
  }
  .checkboxDiv>div{
    display: flex;
    width: 100%;
    height: 100%;
  }
  .checkboxDiv{
    padding-left: 5%;
    padding-right: 5%;
  }
  .taskDiv{
    width: 85%;
  }
  .tagdate{
    font-size: 15px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    padding:3px; 
    border:2px solid black;
    border-top:none;
    justify-content: space-between;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .date{
    color: rgb(119, 119, 119);
  }
  .innerminibl{
    display: flex;
    align-content: center;
    justify-content: space-between;
  }

  .miniblock #img1{
    filter: invert(); 
    display: block;
    width: 40px;
    height: 40px;
  }  
  .miniblock #img2{
    filter: invert(); 
    display: block;
    width: 40px;
  }
  .miniblock p{
    padding-top: 5px;
    display: block;
    width: 200px;
  }  
  .miniblock h2{
    width: 200px;
    display: block;
  }


  .ready ._checkbox + label {
    background-color: #07d410;
    box-shadow: 0 7px 10px #92ff97;
  }
  
  .ready  ._checkbox + label:before {
    width: 0;
    height: 0;
  }
  
  .ready  ._checkbox + label .tick_mark:before,
  .ready  ._checkbox + label .tick_mark:after {
    transform: translate(0);
    opacity: 1;
  }