*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url('images/back2.webp');
    background-size: cover;
    background-position: center;
    /* box-shadow: 0 15px 10px red; */
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: "";
    height: 2px;
    width: 0;
    background: white;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    left: 0;
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.content button{
    width: 200px;
    text-align: center;
    padding: 15px 0;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    color: white;
    background: transparent;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    letter-spacing: 1px;
}
.content button span{
    background: black;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 25px;
    z-index: -1;
    transition: 0.5s;
}
.content button:hover span{
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
}
.part2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), rgb(255, 255, 255); ;
    background-size: cover;
}